# Juce stuff
Maim/Builds
Maim/JuceLibraryCode
Maim/maim\ audiohost\ setup.filtergraph


cmake-build-*
Packages.dmg
.idea
packaging/build
packaging/plugins
**.dmg

# Audio stuff
**/*.wav
**/*.mp3
**/*.flac

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
**/*.o
**/*.a
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
**/*.la
**/*.a
*.lib

# Executables
*.exe
*.out
*.app
Maim/lib/lame/frontend/lame
Maim/lib/blade/bladeenc/bladeenc

# misc
**/.DS_Store
**/*.asd
**/*.dSYM
Maim/lib/blade/test

# lame stuff
/Source/lib/lame/**/Makefile
/Source/lib/lame/**/*.Po
/Source/lib/lame/**/*.Plo
Source/lib/lame/config.log
Source/lib/lame/config.h
Source/lib/lame/config.status
Source/lib/lame/libtool

venv
Source/lib/lame/stamp-h1
Source/lib/lame/lame.spec
