# Juce stuff
Maim/Builds
Maim/JuceLibraryCode

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
**/*.o
**/*.a
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
**/*.la
**/*.a
*.lib

# Executables
*.exe
*.out
*.app
