[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE/
	branch = develop
	
[submodule "clap-juce-extensions"]
	path = clap-juce-extensions
	url = https://github.com/free-audio/clap-juce-extensions.git
	branch = main
[submodule "opus"]
	path = opus
	url = https://github.com/xiph/opus.git
[submodule "cmake"]
    path = "cmake"
    url = https://github.com/sudara/cmake-includes.git